.projects {
    background: $color-pink;
    padding: 32px 16px;
  }
  
  .projects-inner {
    display: flex;
    flex-direction: column;
    
    @media #{$bp-mobile-up} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  .project-list {
    margin-bottom: 24px;
    order: 2;
  
    @media #{$bp-tablet-up} {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(2, 1fr);
      order: 3;
      width: 100%;
    }
  }
  
  .project-card {
    background: $color-white;
    border: 0 solid rgba($color-black, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba($color-black, 0.2);
    margin-bottom: 24px;
    overflow: hidden;
  
    @media #{$bp-tablet-up} {
      margin-bottom: 0;
    }
  }
  
  .project-title-no-page {
    color: $color-black;
  }
  
  .project-tmb-img {
    display: block;
    width: 100%;
  }
  
  .project-body {
    padding: 16px;
  }
  
  .project-header {
    color: $color-black;
    margin-bottom: 16px;
    margin-right: auto;
    order: 1;
  }
  
  .project-pitch {
    order: 3;
  
    @media #{$bp-tablet-up} {
      align-self: flex-end;
      margin-bottom: 16px;
      margin-left: auto;
      order: 2;
    }
  
    @media #{$bp-below-mobile} {
      font-size: 0.9em;
    }
  
    .btn {
      margin: 0 0 0 12px;
    }
  }
  
  .project-tmb {
    position: relative;
  }
  
  .status-indicator {
    float: right;
    text-align: center;
    margin-left: 10px;
    background-color: $color-lightyellow;
    width: 92px;
    padding: 2px 7px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba($color-black, 0.1);
  }
  
  .status-text {
    margin: 0px 0px;
  }
  
  .status-Active {
    background-color: $color-lightgreen;
  }
  
  .status-Rebooting {
    background-color: rgb(164, 213, 255);
  }
  
  .status-Completed {
    background-color: $color-salmon;
  }
  
  .project-card-field-inline {
    display: inline;
  }

// Further instructions for search-bar functionality using a modal.
.search-tip-link {
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  border-top: solid 1px #cccccc;
}

// Modal Card
.search-tip-modal-card {
  background: $color-white;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba($color-black, 0.2);
  margin-bottom: 24px;
  overflow: hidden;

  @media #{$bp-tablet-up} {
    margin-bottom: 0;
  }
}
.search-tip-card{
  padding: 45px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: visible;
}

.search-tip-card-top{
  display: flex;
}

.search-tip-card-title{
  display: flex;
  justify-content: space-between;
}

.search-tip-card-name{
  font-size: 19px;
  line-height: 22px;
}

  // Modal Overlay
 .search-tip-overlay {
  display: none;
  z-index: 120;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.5);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.top-buffer{
  height: 20vh;
}
.bottom-buffer {
  height: 5vh;
}
.search-tip-modal-container{
  position: absolute;
  width: 60%;
  left: 20%;
  z-index: 121;
}

.overlay-close-icon {
  float: right;  
  padding: 20px 20px 0 0; 
  cursor: pointer;
}
.center-screen {
  opacity: 1;
}
.overlay-card-text{
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .search-tip-modal-container {
      width: 90%;
      left: 5%;
  }
}

// Search Tip Table Styling
.search-tip-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  td {
    vertical-align: top;
  }

  tr:last-child td {
    border-bottom: none;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}